.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  color: #f60;
}

.Table {
  display: flex;
  justify-content: center;
}