.board {
  text-align: center;
}

.board-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.board-body {
  padding: 20px;
}

.Table {
  display: flex;
  justify-content: center;
}